<% get_friends(@user) %>
<div class="for_friends">
  <% if (@user==current_user) && !@senders.empty? %>
      <div class="friends round">
        <h5>This peoples wants to add you to friends:</h5>
        <ul class="senders"><%= render :partial => 'shared/sender', :collection => @senders %> </ul>
      </div>
  <% end %>
  <% unless @friends.empty? %>
  <div class="friends round">
    <h5><%= @title %></h5>
        <ul class="users">
          <%= render @friends %>
        </ul>
        <%= will_paginate @friends %>
  </div>
  <% end %>
</div>
<%= render 'shared/sidebar' %>