<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item[1]),feed_item[1] %>
  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to feed_item[1].name, feed_item[1]%>
    </span><br>
    <div class="content"><%= feed_item[0].content %></div>
    <%if feed_item[0].photo.original_filename %>
    <div class="image"><%= image_tag feed_item[0].photo.url(:medium) %></div>
    <div class="facepalm_image"><%= image_tag feed_item[0].photo.url%></div>
    <% end %>
    <%if feed_item[0].video_file_name %>
    <div id="player<%=feed_item[0].video_file_name%>">
      <%= video_tag feed_item[0].video.url,:controls=>"controls",:width=>350,:height=>300 %></div>
    </div>
    <% end %>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item[0].created_at) %> ago.
    </span>
    <% if current_user?(feed_item[0].user)||current_user.admin? %>
    <span class="delete_post">
        <%= link_to "delete",feed_item[0], :remote=>true ,:method => :delete, :controller => MicropostsController,
                    :confirm => "You really want it?",
                    :title => feed_item[0].content %>
    </span>
  <% end %>
  </td>

</tr>

