<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'application' %>

</head>
<body>
<div class="container">
  <%= render 'layouts/header' %>
  <section class="round">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>
    <%= yield %>
  </section>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>

<script type="text/javascript">
$("div.status a").live('click', function (e) {
        var myStatus = $("div.status a").text();
        $("div.status a").hide();
        var myBox = $(document.createElement('textarea')).attr('style', 'width: 140px;word-wrap:break-word;height:40px;resize: none;margin-left:0;margin-bottom:0;').attr('value', myStatus);
        var myButton = $(document.createElement('button')).attr('style', 'width: 50px;').text("Save");
        $("div.status").append(myBox);
        $("div.status").append(myButton);
        $(myButton).live('click', function (e) {
            var newStatus = $(myBox).val();
            $(myButton).remove();
            $(myBox).remove();
            $("div.status a").text(newStatus);
            $("div.status a").show();
            $.ajax({
                url:'<%="http://localhost:3000/users/#{@user.id}"%>',
                type:"put",
                dataType:"json",
                data:{status:newStatus}
            });
        });
    });
</script>





